@media screen and (max-width: 576px) {

    /* Navbar */

    nav{
        flex-direction: column;
        padding: auto;
        height: 400px;
        box-shadow: none;
        justify-content: center;
    }
    .nav-right ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        padding-left: 0px;
    }
    .nav-right>ul>li {
        
        margin-right: 0px;
    }
    .follow-us {
        margin-top: 20px;
    }

    /* Banner */

    .banner-container{
        flex-direction: column;
        width: auto;
    }
    .banner-content{
        margin: 30px;
        width: 100%;
        

    }
    .banner-content>h2{
        padding-left: 0;
    }
    .banner-content>h1{
        padding-left: 0;
    }
    .banner-content>p{
        padding-left: 0;
    }
    .banner-btn{
        padding-left: 0;
    }
    .banner-image img{
       
        margin: 50px 50px 200px 50px;
    }

    /* Main */

    /* Funny Videos */

    .funny-videos{
        margin-top: 900px;
    }
    .funny-vid-boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

}