@media screen and (max-width: 576px) {

    

    body{
       width: 600px;
       height: 100%;
       margin: 0;
    }

    /* Navbar */

    nav{
        flex-direction: column;
        padding: auto;
        height: 400px;
        box-shadow: none;
        justify-content: center;
    }
    .nav-right ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        padding-left: 0px;
    }
    .nav-right>ul>li {
        
        margin-right: 0px;
    }
    .follow-us {
        margin-top: 20px;
    }

    /* Banner */

    .banner-container{
        flex-direction: column;
        width: auto;
        height: auto;
        
    }
    .banner-content{
        margin: 30px;
        width: 100%;
        background-image: none;
        text-align: center;

    }
    .banner-content>h2{
        padding-left: 0;
    }
    .banner-content>h1{
        padding-left: 0;
    }
    .banner-content>p{
        padding-left: 0;
    }
    .banner-btn{
        padding-left: 0;
    }
    .banner-image img{
       
        margin-right: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    /* Main */

    /* Funny Videos */

    .funny-videos{
        margin-top: 0px;
    }
    .funny-vid-boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    /* Play Instant */

    .play-inst{
        flex-direction: column;
    }

    /* Tags */

    .tags-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0;
        padding-top: 10px 0 10 0;
        width: 100%;
        height: 400px;
        justify-items: center;
        align-content: center;
    }

    /* Footer */

    .footer{
        width: 100%;
        margin-right: 0;
    }

}